# Dados (não versionar)
01_dados/bruto/*
01_dados/tratado/*
!01_dados/bruto/.gitkeep
!01_dados/tratado/.gitkeep

# Jupyter
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Sistema (Windows)
Thumbs.db
Desktop.ini

# VSCode
.vscode/
